$header-font: "PT Sans", sans-serif;
$content-font: "Roboto", sans-serif;

$body-color: #ffffff;
$text-color: #303030;

$header-text-color: #003883;
$header-title-color: #0061a1;

$countries-background-color: #647D8A;
$countries-background-color-active: #1DBADF;
$aside-text-color: #626261;
$aside-text-color-alt: #0080C8;


$font-size-s: 14px;
$line-height-s: 25px;

$font-size-l: 16px;
$line-height-l: 16px;

$font-size-m: 16px;
$line-height-m: 22.5px;

$font-size-xl: 18px;
$line-height-xl: 24px;
